table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.my-columns {
  display: flex;
  flex-wrap: wrap;
}

.my-columns > * {
  flex: 1 1 33%;
}